html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font: 100% Arial, Helvetica, sans-serif;
  background-color: #333333;
  font-size: 1.5em;
}

.container {
  margin-top: 2%;
}

.container .row .col-md-10 .page-header {
  margin-bottom: 2%;
}

.container .row .col-md-10 .page-header input {
  background-color: #808080;
  color: #000000;
  border: 1px solid #808080;
  padding: 5px;
  margin-bottom: 3%;
  font-size: 2em;
  padding: 30px 10px;
}

.container .row .col-md-10 .page-header input[type="text"]::-webkit-input-placeholder {
  color: #a6a6a6;
}

.container .row .col-md-10 .page-header strong {
  color: #ff0000;
}

.container .row .col-md-10 .list-group a:hover,
.container .row .col-md-10 .list-group a:focus {
  background-color: #404040;
}

.container .row .col-md-10 .list-group .list-group-item {
  cursor: pointer;
  background-color: #333333;
  border-color: #808080;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-top: 0;
  padding: 15px 5px;
  margin-bottom: 10px;
}

.container .row .col-md-10 .list-group .list-group-item .col-md-6 h3 {
  color: #ffffff;
}

.container .row .col-md-10 .list-group .list-group-item .col-md-6 p {
  color: #b3b3b3;
}

