$font-basic-family: Arial, Helvetica, sans-serif;
$primary-color: #333333;
$secondary-color: #808080;
$font-basic-size: 1.5em;

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%; 
}

body {
  font: 100% $font-basic-family;
  background-color: $primary-color;
  font-size: $font-basic-size;
}

.container {
	margin-top: 2%;
	.row {
		.col-md-10 {
			.page-header {
				margin-bottom: 2%;
				input {
					background-color: $secondary-color;
					color: #000000;
					border: 1px solid $secondary-color;
					padding: 5px;
					margin-bottom: 3%;
					font-size: 2em;
					padding: 30px 10px;
				}
				input[type="text"]::-webkit-input-placeholder {
		          color:  #a6a6a6;
		        }
		        strong {
		            color:#ff0000;
		        }
			}
			.list-group {
				a:hover,
			    a:focus {
			        background-color: #404040;
			    }
				.list-group-item {
					cursor: pointer;
					background-color: $primary-color;
					border-color: $secondary-color;
		            border-style: solid;
		            border-width: 0 0 1px 0;
		            border-top: 0;
		            padding: 15px 5px;
		            margin-bottom: 10px;
					.col-md-6 {
						h3 {
							color: #ffffff;
						}
						p {
				            color: #b3b3b3;
				        }
					}
				}
			}
		}
	}
}
